# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform-provider-*
**/*.lock.*

# LocalStack
.localstack/
volume/cache/
machine.json
server.test.pem*
server.test.pem.crt
server.test.pem.key

# OS / Editor
.DS_Store
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local
.env-*
